<div>
  <div>
    <span><h1>{{ title }}</h1></span>
  </div>
  <div>
    <mat-label *ngIf="showUitleg">
      {{uitlegText}}
      <p>
      <span><button *ngIf="showButton" mat-button (click)="start()">{{buttonText}}</button></span>
      </p>
    </mat-label>

  </div>
  <div>
      <mat-label *ngIf="showGetal">{{randomGetal}}</mat-label>
      <div class="inputGetal">
        <input matInput *ngIf="showInput" enabled="true" type="number" [(ngModel)]="invoerGetal" (keyup.enter)="onInputGetal()">
      </div>
  </div>
</div>
